@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%;
}

#cta {
  background-image: url("../images/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  body {
    background-size: 500px;
    background-position: 50px -50px;
  }
  #cta {
    background-image: url("../images/bg-simplify-section-mobile.svg");
  }
}

/* Hamburger menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s ease;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s ease;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.menu-open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.menu-open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.menu-open .hamburger-middle {
  display: none;
}
.menu-open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
